// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.testbutton img{
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.buttons div{
    float: left;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.question_space{
    margin-top: 100px;
}

.answer_images{
    // float: left;
}
.question_container{
    
    width: 700px;
    margin-right: auto;
    margin-left : auto;
    margin-top: 100px;
}