<header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
        <div class="question_container">
              
              <h3><%= @test.nickname %>さんのテスト結果</h3>

<p>あなたはタイプ<%= caluculate_test %>です。</p>

    <% if caluculate_test == :A %>
    <p>あなたはリーダータイプ。</p>
    <p>負けず嫌いで回りをぐいぐい引っ張っていくような人はこのタイプです。</p>
    <p>思ったことはあまり遠慮せず、どんどん言うので率直な人だと周りから思われることが多いはず。</p>
    <p>リーダーシップを重視するあまり周りとの対話がおろそかになることもあるかもしれません。</p>
    <p>もし思い当たる節があれば、周りの意見も取り入れつつ周りを引っ張っていけると尚良いでしょう。</p>
    <% elsif caluculate_test == :B %>
    <p>あなたはマネージャータイプ。</p>
    <p>周りとの調和を重視し、人と上手に付き合い導いていくことに長けています。</p>
    <p>相手をよく観察し、良い点を引き出すことができるのは、あなたの素晴らしい長所です。</p>
    <p>その一方で人に振り回されて、私生活に支障をきたしたり、仕事がうまく回らなくなることもあるかもしれません。</p>
    <p>自分を犠牲にしない適切な距離を探していくとよいでしょう。</p>
    <% elsif caluculate_test == :C %>
    <p>あなたはアドベンチャラータイプ。</p>
    <p>好奇心が強く、どんどん新しいことにチャレンジしていきます。</p>
    <p>あまり人目を気にしないので、周りから見れば大胆に見えることにも意外なほどにすんなりと取り組んでいくことでしょう。</p>
    <p>その一方で飽きやすく、他人との協調をあまり意識しないので環境によっては生きづらいと思うこともあるかもしれません。</p>
    <p>自分に合う環境を積極的に探していきましょう。</p>
    <% else %>
    <p>あなたはプランナータイプ。</p>
    <p>物事を計画し、その計画通りに進めることに長けています。</p>
    <p>責任感が強い傾向にあり、取り組み始めたことは最後までやりきろうとします。</p>
    <p>計画を重視しすぎるあまり、人と衝突したり、不測の事態が起こったときにうまく対応できなくなることもあるかもしれません。</p>
    <p>持前の忍耐強さを用いて現状を打破する術を見つけられればそれが弱みとなることはないでしょう。</p>
<% end %>
<br>
<%= link_to "トップページに戻る", "/" %>
<%= link_to "みんなの結果をみる", tests_path %>

          
        </div>
      <!--</div>-->
      </div>
    </header>



